@navbar = {
	<ul class="three">
        <li class="active"><a href="@controllers.routes.Application.index()">Fares</a></li>
        <li><a href="@controllers.routes.Application.zones()">Zones</a></li>
        <li><a href="@controllers.routes.Application.buy()">Where to buy</a></li>
    </ul>
}

@main("Fares", navbar, "fares"){

<div class="container clearfix fares-page">
	<h1>Fares</h1>

	<p>Port Authority riders may pay to ride using cash (exact change), prepaid tickets, passes, transfers or by showing identification for other special fare programs, such as senior identification cards.<br><br>Port Authority operates a zone-based fare structure. The amount of fare is based on trip length originating from Downtown Pittsburgh. Higher fares are paid for trips crossing more than one zone.
	</p><br>
	
	<h4>Case Fares</h4><br>

	<p>Generally, fares are paid as the rider boards when heading inbound (toward Downtown/Oakland), or exits when heading outbound (away from Downtown/Oakland). This is in effect before 7 p.m. to reduce congestion in the busy parts of the city. After 7 p.m., bus riders should pay as they board, regardless of direction. View exceptions to this rule.</p><br>

	<h4>Full Fare Prices</h4><br>
		<table>
			<tr><td></td><td>Full Fare</td><td>Transfer&#42;</td><td>Light Rail Surcharge&#42;</td></tr>
			<tr><td>Free Zone</td><td>Free</td><td>N&#47;A</td><td>None</td></tr>
			<tr><td>1 Zone</td><td>&#36;2.50</td><td>&#36;1.00</td><td>&#43;&#36;0.75</td></tr>
			<tr><td>2 Zones</td><td>&#36;3.75</td><td>&#36;1.00</td><td>&#43;&#36;0.75</td></tr>
			<tr><td>Inclines</td><td>&#36;2.50</td><td>&#36;1.00</td><td>None</td></tr>
		</table><br>
		
		<h4>Half Fare Prices &#40;children ages 6-11 and persons with disabilities&#41;</h4><br>
		<table>
			<tr><td></td><td>Half Fare</td><td>Transfer&#42;</td><td>Light Rail Surcharge&#42;</td></tr>
			<tr><td>Free Zone</td><td>Free</td><td>N&#47;A</td><td>None</td></tr>
			<tr><td>1 Zone</td><td>&#36;1.25</td><td>&#36;0.50</td><td>&#43;&#36;0.35</td></tr>
			<tr><td>2 Zones</td><td>&#36;1.85</td><td>&#36;0.50</td><td>&#43;&#36;0.35</td></tr>
			<tr><td>Inclines</td><td>&#36;1.25</td><td>&#36;0.50</td><td>None</td></tr>
		</table><br>
		
		<h1>Passes</h1>
		
		<p>Buy a pass! A pass is a prepaid fare instrument that provides unlimited rides for a certain time period within a specific number of zones. Riders who use passes don‘t need to use transfers!<br><br>The following passes are available from Port Authority:</p><br>

		<table>
			<tr><td></td><td>Weekly</td><td>Monthly</td><td>Annual</td></tr>
			<tr><td>1 Zones</td><td>&#36;25.00</td><td>&#36;97.50</td><td>&#36;1072.50</td></tr>
			<tr><td>2 Zones</td><td>&#36;37.00</td><td>&#36;146.25</td><td>&#36;1608.75</td></tr>
		</table><br>

		<h4>Ten-Trip Ticket Book</h4><br>
		
		<table>
			<tr><td></td><td>Full Fare</td><td>Half Fare</td></tr>
			<tr><td>1 Zones</td><td>&#36;25.00</td><td>&#36;12.50</td></tr>
			<tr><td>2 Zones</td><td>&#36;37.00</td><td>&#36;18.50</td></tr>
		</table>
</div>
	
}