@navbar = {
    <!-- The content of the orange sub-nav is defined here for each page -->
    <ul class="two">
        <li class="left active"><a href="@controllers.routes.Application.service()">Bikes on transit</a></li>
        <li class="right"><a href="@controllers.routes.Application.special()">Riders with special needs</a></li>
    </ul>
}

@main("Bikes on transit", navbar, "service") {

<div class=" container cleafix bikes-page">
	<h1>Bikes on Transit</h1>
		
	<p>In case you didn‘t know, you‘re good to go on Port Authority‘s bike-friendly vehicles. You can travel with your two-wheeled, non-motorized bicycle using Port Authority buses, light rail (T) vehicles and the Monongahela Incline for no additional charge.</p><br>

	<p>Port Authority and local cycling advocates, including Bike Pittsburgh, encourage riders to combine modes of transportation in an effort to reduce dependence on cars, which will help decrease traffic congestion, reduce carbon emissions, relieve the parking crunch and allow for easier use of bicycles throughout the region.</p><br>
	
	<h4>Bikes on Buses</h4><br>
			
	<p>Port Authority buses are equipped with a front-mounted bike rack that holds two bicycles. Riders must place their bicycle on these racks; bikes are not permitted inside Port Authority buses. Port Authority bike racks will accommodate two-wheeled bicycles with a wheel size of 16 inches or larger, with the exception of tandem, recumbent and motorized bikes.</p><br>
			
	<h4>How to Use Our Bike Racks</h4><br>

	<div class="videoholder">
		Video would be embeded here. Port authority only has a flash video which doesn't work/ doesn't show up on IOS.
	</div>
	<embed src="http://www.portauthority.org/paac/portals/0/video/RacknRoll/player_flv_mini.swf" height="400" width="600"><br><br>
	
	<p>Keep these simple steps in mind when using a bus-mounted bike rack:<br><br>
			
		<ul class="list">
			<li>Stand by your bike at the bus stop so the bus operator knows you intend to board.</li>
			<li>Tell the bus operator you’ll be loading your bike.</li>
			<li>Remove loose items from your bike such as water bottles, pumps, bags, etc.</li>
			<li>Load and unload your bike from the curb or in front of the bus.</li>
			<li>Place the wheels in the proper slots, which are labeled for your convenience.</li>
			<li>Raise and secure the support arm over the top of the tire. Your bike is now secured and you may board the bus.</li>
			<li>As you approach your stop, tell the bus operator you’ll be unloading your bike.</li>
			<li>Remember, you are responsible for your bike. The bus operator is not permitted to help you load or unload your bike.</li>
			<li>When accessing a busway stop, please walk your bike to the station. Riding your bike on a Port Authority busway is prohibited.</li>
		</ul>
	</p><br>

	
	<h4>Folding Bikes Are Allowed on All Port Authority Vehicles</h4><br>
	
	<p>Port Authority permits cyclists to bring folding bicycles onboard Port Authority buses, light rail (T) cars and the Monongahela Incline at all times.</p><br>
	
	<p>Folding bike users riding buses with bike racks are required to use the racks to secure their bicycles.</p><br>

	<h4>Bikes on the T</h4><br>  
	
	<p>Bikes are allowed on the Port Authority‘s light rail system – commonly known as the T – at all times in either direction. Riders may load/unload their non-folding bikes at high-platform stations only. View a light rail system map that identifies high-platform stations.</p><br>  
	
	<p>Two bikes are permitted per light rail vehicle and must be stowed in the designated wheelchair spaces. Persons in wheelchairs have priority over bicycles.</p><br>
	
	<p>Be sure to hold onto your bike securely while on the T and keep it clear of aisles and doorways. Bicycles must be walked at all times when accessing Port Authority T stations.</p><br>

	<h4>Bikes on the Monongahela Incline</h4><br>
	
	<p>Bikes may be brought aboard the Mon Incline‘s wheelchair-accessible car at all times in either direction. One bike is permitted at a time and must be stowed in the designated wheelchair space. Persons in wheelchairs have priority over bicycles.</p><br>

	<h4>Bus Lanes are for Buses Only</h4><br>
	
	<p>Special lanes are reserved for buses only in Downtown Pittsburgh on Wood and Smithfield streets and in Uptown/Oakland on Fifth Avenue. Do not ride your bike in a bus lane. Doing so may result in a traffic citation.</p>

	</div> 
}