@()

@navbar = {
    <!-- The content of the orange sub-nav is defined here for each page -->
    <ul class="two">
        <li class="left"><a href="@controllers.routes.Application.service()">Bikes on transit</a></li>
        <li class="right active"><a href="@controllers.routes.Application.special()">Riders with special needs</a></li>
    </ul>
}

@main("Riders with special needs", navbar, "service") {

<div class=" container cleafix special-page">
	<h1>Riders with special needs</h1>
	<p>In keeping with its mission of connecting people to life, Port Authority of Allegheny County strives to make its system as accessible as possible and comply with the Americans with Disabilities Act.</p><br>
		<p>Port Authority offers a host of information and services for riders with special needs:</p><br>
		<ul class="list">
			<li><a class="links" href="#accessibility">Accessibility: Frequently Asked Questions</a></li>
			<li><a class="links" href="#access">ACCESS Paratransit</a></li>	
			<li><a class="links" href="#senior">Information for Senior Citizens </a></li>	
			<li><a class="links" href="#other">Other Amenities &amp; Services for Persons with Disabilities</a></li>	
			<li><a class="links" href="#cat">Committee for Accessible Transportation (CAT)</a></li>
		</ul><br><br>

		<h2 id="accessibility">Accessibility: Frequently Asked Questions</h4><br>

		<span class="ital">What is the Americans with Disabilities Act (ADA)?</span><br><br>

		<p class="answer">In 1990, the Americans with Disabilities Act (ADA) was passed by Congress and signed into law by former President George H.W. Bush. Among other requirements, this civil rights legislation entitles persons with disabilities equal opportunity to participate in society. As such, public transportation agencies are required by law to provide the necessary ADA-compliant equipment and accommodations.</p><br>

		<span class="ital">What is Paratransit Service?</span><br><br>

		<p class="answer">Paratransit service is specialized door-to-door, shared-ride transit for persons who are, due to physical limitations, unable to ride regular fixed-route transit service. Since 1979, ACCESS Transportation Systems, Inc. has operated paratransit service for Port Authority offering advance-reservation shared ride transportation services throughout the Authority‘s service area.</p><br>
		<span class="ital">Is Port Authority‘s System ADA-Accessible?</span><br><br>

		<p class="answer">All Port Authority bus and light rail/T vehicles and the Monongahela Incline are ADA-compliant.<br><br>
		All buses are equipped with either wheelchair ramps or lifts. Operators are required to test their vehicle‘s lift/ramp before leaving the garage each day and report any issues they find.<br><br>

		All stations along the West Busway and Martin Luther King Jr. East Busway are ADA-accessible, featuring wheelchair ramps, curb cuts, guide rails and key station information available in Braille. Select South Busway stations are accessible: South Hills Junction, Palm Garden, Pioneer and Glenbury.<br><br>

		The T‘s high-platform stations are accessible, however, low-level stops along the T are not ADA-accessible. View a PDF map indicating accessible T stations.<br><br>
		The Monongahela Incline‘s West Car is wheelchair-accessible. The Duquesne Incline, which is not operated by Port Authority, is wheelchair-accessible only from its upper station</p><br>

		<span class="ital">What Happens if a Lift or Ramp on my Bus Doesn‘t Work?</span><br><br>

		<p class="answer">Like any other equipment, wheelchair lifts and ramps can occasionally malfunction. In that event, Port Authority‘s Safety Net program guarantees transportation for persons with disabilities.<br><br>

		Here‘s how it works. When a person in a wheelchair or scooter is unable to board a bus due to a malfunctioning lift/ramp or other circumstances, and the next bus is more than 30 minutes from arrival, Port Authority will dispatch a bus with working equipment to take the rider to his or her destination. If a bus is not available, an ACCESS vehicle will be sent. However, if the next bus is due within 30 minutes, you will be asked to wait for that bus.<br><br>

		If a driver is unavailable to make the call for alternative transportation, please call Port Authority Customer Service at 412-442-2000 or TTY 412-231-7007 on weekdays from 6 a.m. to 7 p.m., weekends and holidays from 8 a.m. to 4:30 p.m. If Customer Service is unavailable, please call Port Authority Police at 412-255-1385.</p><br>

		<span class="ital">Can a Port Authority Bus or T Operator Assist Me?</span><br><br>

		<p class="answer">If asked, Port Authority operators will assists customers using wheelchairs, canes or walkers. Operators can also assist in securing wheelchairs using the safety equipment present on all Port Authority vehicles.<br><br>
		To better assist persons with visual disabilities, the vehicle‘s route number and direction/destination is announced by either the perator or an automated annunciator upon approaching or servicing a stop or station. Major stops and stations are also announced.</p><br>

		<span class="ital">Can I Bring a Service Animal on Port Authority Vehicles?</span><br><br>
		<p class="answer">Service animals – including, but not limited to, guide dogs – are permitted on all Port Authority vehicles. These animals do not necessarily have to be on a traditional harness but must be controlled by their owners while on the vehicle.<br><br>
		Guide dogs in training are also permitted. No extra fare is required for animals.</p><br>

		<span class="ital">What Does "Curbing" the Bus Mean?</span><br><br>

		<p class="answer">Curbing the bus is when the operator pulls the vehicle up close to the curb (about six inches) when serving a stop or station. By placing the front door of the bus as close to the sidewalk as possible, curbing allows for easier boarding and alighting as well as safer wheelchair ramp/lift deployment. Port Authority operators should curb the bus wherever possible, although factors such as parked cars, broken curbs or snow banks may prevent this. If an operator is not able to curb the bus, he or she will stop the vehicle a safe distance from the curb.</p><br>

		<span class="ital">What are Bus Kneelers?</span>

		<p class="answer">All Port Authority buses are equipped with kneelers. Kneelers lower the front of the bus, allowing for easier boarding and disembarking. Kneelers are especially helpful to senior citizens or persons with mobility issues who do not need to use a wheelchair, but may need some extra help stepping on or off the bus. If you need the assistance of the kneeler, simply ask the operator to lower the steps.</p><br>

		<span class="ital">Do Port Authority Operators Receive ADA Training?</span><br><br>

		<p class="answer">Yes. As part of the driver training curriculum, all new Port Authority operators are required to attend an ADA training session. Operators are then retrained every three years or upon request.</p><br>

		<p class="answer">This training is computer-based and tests the operator‘s knowledge of ADA compliance and Port Authority‘s ADA policies and procedures.</p><br>

		<span>Is There Priority Seating for Persons with Disabilities?</span><br><br>

		<p class="answer">Yes, priority seating is located near the front of each bus or light rail vehicle. When necessary, Port Authority operators will ask other riders to vacate designated seats for persons with disabilities and senior citizens.</p><br>

		<span>Does It Matter What Size Wheelchair I Have in Order to Ride the Bus?</span><br><br>

		<p class="answer">Yes. By law, Port Authority can safely accommodate all ADA-standard wheelchairs on its buses, light rail vehicles and the Monongahela Incline. A standard wheelchair is approximately 30 inches wide by 48 inches long and weighs no more than 600 pounds. This limit includes the combined weight of both the individual and wheelchair. ADA-standard chairs may include both manual wheelchairs and motorized scooters.</p><br>

		<p class="answer">Non-standard wheelchairs may not be compatible with most Port Authority vehicles, and may be too heavy or large to use the bus lift or ramp or to be safely secured while on the vehicle. Transit riders should take this into consideration when purchasing a new wheelchair or scooter.</p><br>

		<span>What Should I Do if My Bus Stop is Littered or Not Accessible in Bad Weather?</span><br><br>

		<p class="answer">Call your municipality or report the problem to Port Authority Customer Service to help ensure that the bus stops you use are clear of snow, ice or debris. When accumulated near the corner or along the sidewalk, these factors can make it difficult for Port Authority operators to deploy bus lifts or ramps.</p><br>

		<p class="answer">Port Authority‘s busway and T stations are kept clean of snow, ice and debris to ensure the safety of all riders.</p><br>

		<span>Do I Have to Visit the Downtown Service Center to Purchase My Half-Fare Tickets?</span><br><br>

		<p>No. You can purchase half-fare tickets in our online shop.</p><br>

		<span>How Can I Get a Half-Fare Identification Card?</span><br><br>
		<p class="answer">A half-fare identification card is required to use half-fare tickets on Port Authority‘s system. Riders may obtain a free half-fare ID card from the Port Authority Downtown Service Center, located at 534 Smithfield Street in Downtown Pittsburgh. By calling the Service Center at 412-255-1356, an application can be mailed to your home or place of employment. You may also pick up an application from the center during regular business hours, Monday-Friday 8 a.m. through 5 p.m.</p><br>
		<p class="answer">In addition to the completed application, a letter from your primary care physician describing your disability must also be presented in person at the Service Center. Riders who have a red-white-&amp;-blue Medicare disability card do not need a doctor‘s letter and may bring their Medicare card and a photo ID to the Service Center instead.</p> <br>
		<p class="answer">If you are approved for a half-fare ID, you will receive a card in the mail within two or three weeks. Half-fare ID cards do not expire.</p><br>
		<span>How Do I Submit a Commendation or Complaint?</span><br><br>
		<p class="answer">Port Authority‘s Customer Service phone line is open Monday-Friday from 6 a.m. to 7 p.m. and on weekends and major holidays from 8 a.m. to 4:30 p.m. at 412-442-2000 or for TTY, 412-231-7007. Use this number to submit a comment, question, suggestion or complaint about our service.</p><br>
		<p class="answer">When Customer Service is closed, you may leave a message or use our feedback form to submit your feedback. You may also write to us at:</p><br>
		<p class="address answer">Port Authority Customer Service<br>345 Sixth Avenue, Third Floor<br>Pittsburgh, PA 15222</p><br>
		<p class="answer">Your comments and suggestions help us improve the system and are valuable in planning and evaluating service. Please tell us when our service exceeds your expectations. Our drivers do everything they can to make your trip pleasant and appreciate being acknowledged. Commendations are signed by the driver‘s supervisor and presented to the driver who has gone the extra mile. Please also promptly tell us when you have been inconvenienced by our service so that we can immediately correct the problem.</p><br>
		<p class="answer">When you call with a comment or complaint, please have the following information ready:</p><br>
		<ul class="list">
			<li>Your name and contact information</li>
			<li>The date, time and travel direction of your trip (for example, „inbound,“ „away from Downtown“ or „toward Oakland“)</li>
			<li>A description of what happened, including the location of the occurrence</li>
			<li>The route number or designation, if applicable (for example, "16, "71A Negley" "P71" or "Blue Line-South Hills Village")</li>
		</ul><br><br>
		<p class="answer">The following information is not necessary, but is helpful if you can provide it:</p><br>
		<ul class="list">
			<li>The four-digit vehicle number. This is found on the interior of the bus or T above the windshield/operator, on the front right exterior corner (near the front door) and on the rear exterior of the vehicle. Riders with visual impairments can find the vehicle number in Braille on the interior left side of the front door on a bus. On the T, the vehicle number is posted in Braille on an ID plate to right of the low-level door inside the light rail vehicle.</li>
			<li>The driver‘s number, which is found on his or her uniform shirt.</li>
		</ul>
		<br><br>
		<h2 id="access">ACCESS Paratransit</h4><br>
		<p>ACCESS is door-to-door, advance reservation, shared ride transportation provided throughout Port Authority‘s service area, serving primarily senior citizens and persons with disabilities.</p><br>
		<p>Service is provided from 6:00 a.m. to midnight, seven days a week, and at such other times and places that Port Authority fixed route service is in operation. There are no restrictions on the purpose or number of trips which may be taken by riders, except that riders are required to share their vehicle with others traveling in the same direction and at the same time.</p><br>
		<p>ACCESS is sponsored by Port Authority of Allegheny County and is operated by ACCESS Transportation Systems, Inc., a subsidiary of Veolia Transportation.</p><br>

		<p class="answer">Contact Information:</p><br>

		<p class="answer">ACCESS Transportation Systems, Inc.<br>
		412-562-5353<br><br>

		650 Smithfield Street<br>
		Centre City Tower, Suite 440<br>
		Pittsburgh, PA 15222<br><br>

		Office Hours:<br>
		8:00 a.m. to 4:30 p.m.<br>
		Monday through Friday</p><br>

		<h4>Service Area</h4><br>
		<p>ACCESS serves all of Allegheny County as well as points 1.5 miles outside the county line.</p><br>

		<h4>How to Ride</h4><br>
		<p>To make a reservation for ACCESS service, call 412-562-5353. All reservations must be made at least one day in advance by calling between the hours of 7:00 a.m. and 3:30 p.m. You may call on Friday for Saturday, Sunday or Monday reservations, but this is not required. Trips may be ordered up to 14 days in advance.</p><br>
		<p>Standing orders may be placed once and kept on file, as long as the trip has the same pickup and return times and destination, three days per week. A cancellation rate of more than 50 percent may result in cancellation of the standing order. Standing orders are automatically canceled on major holidays.</p><br>

		<h4>Is ACCESS for me?</h4><br>

		<p>Disability alone does not create eligibility; the decision is based on the applicant‘s functional ability to use the bus and is not a medical decision. At the same time, unavailability of fixed route service does not constitute eligibility.</p><br>

		<p>All persons seeking eligibility for the ACCESS ADA Program must appear in person at the ACCESS office for evaluation. The purpose of the evaluation is to determine whether the applicant can ever use Port Authority fixed route service, even after training, and if not, what specific circumstances create a barrier to the applicant‘s independent use of Port Authority fixed route service.</p><br>

		<h4>ACCESS Fares</h4><br> 
		<p>Fares vary according to eligibility and distance traveled. For more information, call ACCESS at 412-562-5353.</p><br>
		 
		<h4>Registering a Complaint with ACCESS</h4><br>
		<p>Complaints must be registered directly with ACCESS, not with the local carrier providing your service. You may file a complaint by telephone, in writing or in person at the ACCESS office.</p><br>

		<h4>Information for Senior Citizens</h4><br>

		<p>Senior citizens age 65 or over who present a Pennsylvania Senior Citizen ID Card or a Medicare card at the time of fare payment are entitled to ride for free on the bus, T or Mon Incline at all times. Learn more.</p>

		<p>Priority seating for seniors and persons with disabilities is located near the front of each bus or light rail vehicle. When necessary, Port Authority operators will ask other riders to vacate these seats.</p><br>

		<h2 id="other">Other Amenities &amp; Services for Persons with Disabilities</h2><br>

		<p>In addition to services described above, Port Authority provides the following amenities for riders with disabilities or special needs:</p>

		Braille and large print schedules
		TTY Customer Service at 412-231-7007  
		Bus identifier kits: Handheld signs used by individuals with visual impairment to let operators know which bus route they need.
		Braille vehicle number identification
		To request schedules or an identifier kit, call Customer Service at 412-442-2000 or for TTY, 412-231-7007.
		<br><br>

		<h2 id="cat">Committee for Accessible Transportation</h2><br>

		<p>The Committee for Accessible Transportation (CAT) was founded in 1991. Committee members include persons with disabilities and representatives of the agencies that serve them. CAT advises Port Authority of Allegheny County and ACCESS on how to make public transportation accessible to riders with various types of disabilities. It meets quarterly and is governed by a 15-member steering committee, which is elected by its membership every two years.</p><br>

	</div> 
}