.route {
    // Regular
    &[data-route-name="1"] p:first-child { color: #A23450; }
    &[data-route-name="2"] p:first-child { color: #954355; }
    &[data-route-name="4"] p:first-child { color: #9C0D31; }
    &[data-route-name="6"] p:first-child { color: #6D1D18; }
    &[data-route-name="7"] p:first-child { color: #B50A6B; }
    &[data-route-name="8"] p:first-child { color: #CB576C; }
    &[data-route-name="11"] p:first-child { color: #B85E3A; }
    &[data-route-name="12"] p:first-child { color: #B55E82; }
    &[data-route-name="13"] p:first-child { color: #CB6125; }
    &[data-route-name="14"] p:first-child { color: #D38053; }
    &[data-route-name="15"] p:first-child { color: #C85124; }
    &[data-route-name="16"] p:first-child { color: #98141B; }
    &[data-route-name="17"] p:first-child { color: #440015; }
    &[data-route-name="18"] p:first-child { color: #DA999F; }
    &[data-route-name="19L"] p:first-child { color: #C21622; }
    &[data-route-name="20"] p:first-child { color: #8E3C19; }
    &[data-route-name="21"] p:first-child { color: #B14B44; }
    &[data-route-name="22"] p:first-child { color: #783339; }
    &[data-route-name="24"] p:first-child { color: #C50085; }
    &[data-route-name="26"] p:first-child { color: #CE6B5E; }
    &[data-route-name="27"] p:first-child { color: #CC5882; }
    &[data-route-name="29"] p:first-child { color: #C171AB; }
    &[data-route-name="31"] p:first-child { color: #DEA667; }
    &[data-route-name="36"] p:first-child { color: #E0AC9E; }
    &[data-route-name="38"] p:first-child { color: #C50969; }
    &[data-route-name="39"] p:first-child { color: #C9485C; }
    &[data-route-name="40"] p:first-child { color: #C74430; }
    &[data-route-name="41"] p:first-child { color: #7F2A10; }
    &[data-route-name="43"] p:first-child { color: #802740; }
    &[data-route-name="44"] p:first-child { color: #AB5B65; }
    &[data-route-name="48"] p:first-child { color: #941F56; }
    &[data-route-name="51"] p:first-child { color: #950586; }
    &[data-route-name="51L"] p:first-child { color: #9C549F; }
    &[data-route-name="52L"] p:first-child { color: #B03C1C; }
    &[data-route-name="53"] p:first-child { color: #D48741; }
    &[data-route-name="53L"] p:first-child { color: #B36428; }
    &[data-route-name="54"] p:first-child { color: #AA2123; }
    &[data-route-name="56"] p:first-child { color: #B24D87; }
    &[data-route-name="57"] p:first-child { color: #D582AB; }
    &[data-route-name="58"] p:first-child { color: #C50085; }
    &[data-route-name="59"] p:first-child { color: #D99925; }
    &[data-route-name="60"] p:first-child { color: #A64A16; }
    &[data-route-name="61A"] p:first-child { color: #A10847; }
    &[data-route-name="61B"] p:first-child { color: #6B0D5F; }
    &[data-route-name="61C"] p:first-child { color: #691C37; }
    &[data-route-name="61D"] p:first-child { color: #8F0786; }
    &[data-route-name="64"] p:first-child { color: #D49C51; }
    &[data-route-name="65"] p:first-child { color: #A95E25; }
    &[data-route-name="67"] p:first-child { color: #984699; }
    &[data-route-name="68"] p:first-child { color: #C83F5C; }
    &[data-route-name="69"] p:first-child { color: #925D64; }
    &[data-route-name="71"] p:first-child { color: #6B1087; }
    &[data-route-name="71A"] p:first-child { color: #AD7DB5; }
    &[data-route-name="71B"] p:first-child { color: #AA6A88; }
    &[data-route-name="71C"] p:first-child { color: #DDA290; }
    &[data-route-name="71D"] p:first-child { color: #CD674E; }
    &[data-route-name="74"] p:first-child { color: #A34047; }
    &[data-route-name="75"] p:first-child { color: #743790; }
    &[data-route-name="77"] p:first-child { color: #BC7072; }
    &[data-route-name="78"] p:first-child { color: #B33B54; }
    &[data-route-name="79"] p:first-child { color: #DA999F; }
    &[data-route-name="81"] p:first-child { color: #D79325; }
    &[data-route-name="82"] p:first-child { color: #D48636; }
    &[data-route-name="83"] p:first-child { color: #A90065; }
    &[data-route-name="86"] p:first-child { color: #6C145E; }
    &[data-route-name="87"] p:first-child { color: #810E5D; }
    &[data-route-name="88"] p:first-child { color: #7F0B86; }
    &[data-route-name="89"] p:first-child { color: #A54E98; }
    &[data-route-name="91"] p:first-child { color: #A3524E; }
    &[data-route-name="93"] p:first-child { color: #C73A43; }

    // Flyers
    &[data-route-name="28X"] p:first-child { color: #B9C669; }
    &[data-route-name="G2"] p:first-child { color: #B4CB7F; }
    &[data-route-name="G3"] p:first-child { color: #63AC52; }
    &[data-route-name="G31"] p:first-child { color: #79A837; }
    &[data-route-name="O1"] p:first-child { color: #53691D; }
    &[data-route-name="O12"] p:first-child { color: #C8D848; }
    &[data-route-name="O5"] p:first-child { color: #92B783; }
    &[data-route-name="P1"] p:first-child { color: #BABF31; }
    &[data-route-name="P10"] p:first-child { color: #8BA747; }
    &[data-route-name="P12"] p:first-child { color: #99A74E; }
    &[data-route-name="P13"] p:first-child { color: #6E905C; }
    &[data-route-name="P16"] p:first-child { color: #A2C035; }
    &[data-route-name="P17"] p:first-child { color: #CCD681; }
    &[data-route-name="P2"] p:first-child { color: #5A714F; }
    &[data-route-name="P3"] p:first-child { color: #0C5C20; }
    &[data-route-name="P67"] p:first-child { color: #72B141; }
    &[data-route-name="P68"] p:first-child { color: #364A0A; }
    &[data-route-name="P69"] p:first-child { color: #528E36; }
    &[data-route-name="P7"] p:first-child { color: #3DA147; }
    &[data-route-name="P71"] p:first-child { color: #406338; }
    &[data-route-name="P76"] p:first-child { color: #91BE3C; }
    &[data-route-name="P78"] p:first-child { color: #68812B; }
    &[data-route-name="Y1"] p:first-child { color: #24702D; }
    &[data-route-name="Y45"] p:first-child { color: #59872B; }
    &[data-route-name="Y46"] p:first-child { color: #A8CA65; }
    &[data-route-name="Y47"] p:first-child { color: #7AB440; }
    &[data-route-name="Y49"] p:first-child { color: #C8DA6D; }

    // T / Incline
    &[data-route-name="RED"] p:first-child { color: #363996; }
    &[data-route-name="BLLB"] p:first-child { color: #89B1D2; }
    &[data-route-name="BLSV"] p:first-child { color: #07A0E1; }
    &[data-route-name="DQI"] p:first-child { color: #2475BE; }
    &[data-route-name="MI"] p:first-child { color: #225596; }
    &[data-route-name="SL"] p:first-child { color: #7394B0; }
}