.route {
    // Regular
    &[data-route-name="1"] { background: #A23450; }
    &[data-route-name="2"] { background: #954355; }
    &[data-route-name="4"] { background: #9C0D31; }
    &[data-route-name="6"] { background: #6D1D18; }
    &[data-route-name="7"] { background: #B50A6B; }
    &[data-route-name="8"] { background: #CB576C; }
    &[data-route-name="11"] { background: #B85E3A; }
    &[data-route-name="12"] { background: #B55E82; }
    &[data-route-name="13"] { background: #CB6125; }
    &[data-route-name="14"] { background: #D38053; }
    &[data-route-name="15"] { background: #C85124; }
    &[data-route-name="16"] { background: #98141B; }
    &[data-route-name="17"] { background: #440015; }
    &[data-route-name="18"] { background: #DA999F; }
    &[data-route-name="19L"] { background: #C21622; }
    &[data-route-name="20"] { background: #8E3C19; }
    &[data-route-name="21"] { background: #B14B44; }
    &[data-route-name="22"] { background: #783339; }
    &[data-route-name="24"] { background: #C50085; }
    &[data-route-name="26"] { background: #CE6B5E; }
    &[data-route-name="27"] { background: #CC5882; }
    &[data-route-name="29"] { background: #C171AB; }
    &[data-route-name="31"] { background: #DEA667; }
    &[data-route-name="36"] { background: #E0AC9E; }
    &[data-route-name="38"] { background: #C50969; }
    &[data-route-name="39"] { background: #C9485C; }
    &[data-route-name="40"] { background: #C74430; }
    &[data-route-name="41"] { background: #7F2A10; }
    &[data-route-name="43"] { background: #802740; }
    &[data-route-name="44"] { background: #AB5B65; }
    &[data-route-name="48"] { background: #941F56; }
    &[data-route-name="51"] { background: #950586; }
    &[data-route-name="51L"] { background: #9C549F; }
    &[data-route-name="52L"] { background: #B03C1C; }
    &[data-route-name="53"] { background: #D48741; }
    &[data-route-name="53L"] { background: #B36428; }
    &[data-route-name="54"] { background: #AA2123; }
    &[data-route-name="56"] { background: #B24D87; }
    &[data-route-name="57"] { background: #D582AB; }
    &[data-route-name="58"] { background: #C50085; }
    &[data-route-name="59"] { background: #D99925; }
    &[data-route-name="60"] { background: #A64A16; }
    &[data-route-name="61A"] { background: #A10847; }
    &[data-route-name="61B"] { background: #6B0D5F; }
    &[data-route-name="61C"] { background: #691C37; }
    &[data-route-name="61D"] { background: #8F0786; }
    &[data-route-name="64"] { background: #D49C51; }
    &[data-route-name="65"] { background: #A95E25; }
    &[data-route-name="67"] { background: #984699; }
    &[data-route-name="68"] { background: #C83F5C; }
    &[data-route-name="69"] { background: #925D64; }
    &[data-route-name="71"] { background: #6B1087; }
    &[data-route-name="71A"] { background: #AD7DB5; }
    &[data-route-name="71B"] { background: #AA6A88; }
    &[data-route-name="71C"] { background: #DDA290; }
    &[data-route-name="71D"] { background: #CD674E; }
    &[data-route-name="74"] { background: #A34047; }
    &[data-route-name="75"] { background: #743790; }
    &[data-route-name="77"] { background: #BC7072; }
    &[data-route-name="78"] { background: #B33B54; }
    &[data-route-name="79"] { background: #DA999F; }
    &[data-route-name="81"] { background: #D79325; }
    &[data-route-name="82"] { background: #D48636; }
    &[data-route-name="83"] { background: #A90065; }
    &[data-route-name="86"] { background: #6C145E; }
    &[data-route-name="87"] { background: #810E5D; }
    &[data-route-name="88"] { background: #7F0B86; }
    &[data-route-name="89"] { background: #A54E98; }
    &[data-route-name="91"] { background: #A3524E; }
    &[data-route-name="93"] { background: #C73A43; }

    // Flyers
    &[data-route-name="28X"] { background: #B9C669; }
    &[data-route-name="G2"] { background: #B4CB7F; }
    &[data-route-name="G3"] { background: #63AC52; }
    &[data-route-name="G31"] { background: #79A837; }
    &[data-route-name="O1"] { background: #53691D; }
    &[data-route-name="O12"] { background: #C8D848; }
    &[data-route-name="O5"] { background: #92B783; }
    &[data-route-name="P1"] { background: #BABF31; }
    &[data-route-name="P10"] { background: #8BA747; }
    &[data-route-name="P12"] { background: #99A74E; }
    &[data-route-name="P13"] { background: #6E905C; }
    &[data-route-name="P16"] { background: #A2C035; }
    &[data-route-name="P17"] { background: #CCD681; }
    &[data-route-name="P2"] { background: #5A714F; }
    &[data-route-name="P3"] { background: #0C5C20; }
    &[data-route-name="P67"] { background: #72B141; }
    &[data-route-name="P68"] { background: #364A0A; }
    &[data-route-name="P69"] { background: #528E36; }
    &[data-route-name="P7"] { background: #3DA147; }
    &[data-route-name="P71"] { background: #406338; }
    &[data-route-name="P76"] { background: #91BE3C; }
    &[data-route-name="P78"] { background: #68812B; }
    &[data-route-name="Y1"] { background: #24702D; }
    &[data-route-name="Y45"] { background: #59872B; }
    &[data-route-name="Y46"] { background: #A8CA65; }
    &[data-route-name="Y47"] { background: #7AB440; }
    &[data-route-name="Y49"] { background: #C8DA6D; }

    // T / Incline
    &[data-route-name="RED"] { background: #363996; }
    &[data-route-name="BLLB"] { background: #89B1D2; }
    &[data-route-name="BLSV"] { background: #07A0E1; }
    &[data-route-name="DQI"] { background: #2475BE; }
    &[data-route-name="MI"] { background: #225596; }
    &[data-route-name="SL"] { background: #7394B0; }
}