.changes-page{
	table{
		padding-left: 20px;
	}
	td{
	    padding-right: 25px;
	    padding-left: 15px;
	    padding-top: 3px;
	    padding-bottom: 17px;
	    vertical-align: top;
	}
		table tr:nth-child(odd){
	    background-color: #EEE;
	}
	table tr:nth-child(even){
	    background-color: #EEE;
	}

	.a13{
		color:#CB6125;
	}
	.a26{
		color:#CE6B5E;
	}
	.a27{
		color:#CC5882;
	}
	.a29{
		color:#C171AB;
	}
	.a61D{
		color:#8F0786;
	}
	.a68{
	color:#C83F5C;
	}
	.a71{
	color:#6B1087;
	}
		.a86{
	color:#6C145E;
		}
		.a87{
	color:#810E5D;
		}
		.P12{
	color:#99A74E;
		}
		.P68{
	color:#364A0A;
		}
		.P71{
	color:#406338;
		}
		.Y1{
	color:#24702D;
		}
		.Y45{
	color:#59872B;
		}
		.Y46{
	color:#A8CA65;
		}
		.Y47{
	color:#7AB440;
		}
		.Y49{
color:#C8DA6D;
	}
	.box{
		text-align:center;
		height:15px;
		width:15px;
	}
	span{
		font-style: normal;
		font-weight:bold;
		padding: 5px;
	}

}