.schedule-page {
    
    .box() {
        .box-sizing(border-box);
        .user-select(none);
        
        .border-radius(3px);
        .box-shadow(2px 2px 5px -1px rgba(0, 0, 0, 0.5));
        
        margin: 0.2em;
        padding: 1em;
        
        background: white;
    }
    
    .route {
        display: inline-block;
        
        height: 100px;
        min-width: 100px;
        
        .box();
        
        &.selected:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            margin: 0 auto;
            
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #999;
            position: relative;
            bottom: -23px;
        }
        
        p:first-child {
            font-weight: bold;
            font-size: 200%;
        }
    }
    
    .route-form {
        max-height: 0px;
        height: 150px;
        
        .box();
        .transition(max-height 0.5s ease-in-out);
        
        overflow: hidden;
         
        &.expanded {
            max-height: 150px;
        }
    }
}

@import "bus-colors.less";