@import "reset.less";
@import "mixins.less"; // Don't remove this

@navOrange: rgb(255, 92, 37);
@navBlue: #00AAB5;

body {
    font: 18px 'Source Sans Pro', sans-serif;
    background: #EEE;
}

body *{
    line-height: 1.6;
}

.footer{
    width:880px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid black;
    color:#a0a0a0;
    text-align:center;
    font-size: 65%;

}

a {
	text-decoration: none;
	color:inherit;
}

h1, h2, h3, h4, h5, h6 {
	color: @navBlue;
}

h1 {
    font-size: 150%;
    padding-top: 35px;
    padding-bottom: 25px;
}

span {
	font-style:italic;
}

.container {
    width: 880px;
    margin:auto;
    font-size:90%;
}

td {
    padding-right: 25px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
}

table tr:nth-child(odd) {
    background-color: #A6A7A7;
}

table tr:nth-child(even) {
    background-color: #C8C8C8;
}

.list{
    padding-left:50px;
}

// Header styles
.header {
	height: 210px;
    background: url('../images/header_texture.png');
	
	.logo {
	   display: inline-block;
	   height: 100%;
	   float: left;
	   
	   .ptlogo {
           position: absolute;
	       padding: 40px;
           z-index: 3;
	   }
	   
       .bus {
            position: absolute;
            top: 0;
            left: -50px;
            height: 210px;
            z-index: 0;
       }
    }
    
    .nav {
        float: right;
        padding-top: 40px;
        
        .nav-item {
            display: inline-block;
            min-width: 100px;
            
            padding-left: 75px;
            
            .nav-link {
                .user-select(none);
                
                .rounded {                    
                    width:76px;
                    height:76px;
                    
                    margin: 0 auto;
                    
                    .border-radius(40px);
                    border: 3px solid transparent;
                    
                    background: rgba(255, 255, 255, 0.1);
                    
                    text-align: center;
                    
                    img {
                        margin-top: 16px;
                    }
                }
            }
            
            &.active a .rounded, a:hover .rounded {                    
                background: rgba(255, 255, 255, 0.4);
                
                border: 3px solid @navBlue;
                .box-shadow(0 0 15px 0 rgba(255, 255, 255, 0.75));
                
                text-decoration:none;
            }
            
            &.active:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-bottom: 25px solid @navOrange;
                position: relative;
                bottom: -30px;
                right: -24px;
            }
            
            p {
                margin-top: 15px;
                
                color: @navBlue;
                text-align: center;
            }
        }
    }
}

.main-nav {
    width: 880px;
    margin: 0 auto;
}

.secondary-nav {
    height: 40px;
    
    background: @navOrange;
    
    ul {
        height: 100%;
        
        &.three, &.two {
            width: 880px;
            margin:auto;
            .center{
                margin:auto;
            }
            .left{
                text-align:left;
            }
            .right{
                text-align:right;
            }
            li{
                width:33%;
            }
        }
        &.two li {
            width: 49.5%;
        }
    }
    
    li {
        display: inline-block;
        height: 100%;
        
        color: black;
        text-align: center;
        font-weight: bold;
        
        &.active {
            color: white;
        }
        
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            
            padding: 10px 0;
        }
    }
}

.hidden {
    display: none !important;
    visibility: hidden;
}

#route-search {
    span.btn-inverse {
        position: relative;
        top: -1px;
        height: 23px;
        padding: 4px 7px;
    }
}

#search {
    width: 386px;
    height: 22px;
}

#quick-select {
    margin-bottom: 1.2em;
    
    .btn {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        font-size: 18px;
        
        .border-radius(4px);
    }
}

#trip-planner {
    margin-top: 40px;
}

@media screen and (min-width: 850px) and (max-width:960px){
    .header{
    	.nav .nav-item{
        	padding-left: 20px;
    	}
    }
    
    .container, .main-nav {
        width:80%;
        margin:auto;
    }

    .secondary-nav{
        ul{
            &.three, &.two{
                width:80%;
                margin:auto;
            }
            .center{
                margin:auto;
            }
            .left{
                text-align:center;
            }
            .right{
                text-align:center;
            }
        }
    }
}

@media screen and (max-width: 849px){
    .container, .main-nav{
        width: 90%;
        margin:auto;
    }
    
    .secondary-nav{
        ul{
            &.three, &.two{
                width:90%;
                margin:auto;
            }
            
            ul.three li {
                width:32%;
            }
            
            .center{
                margin:auto;
            }
            .left{
                text-align:center;
            }
            .right{
                text-align:center;
            }
        }
    }
    .header{
        .logo{
            .ptlogo{
                width:120px;
                padding:20px;
                padding-top: 50px;
            }
            
            .bus{
                left:-180px;
            }
        }
        .nav{
            .nav-item{
                padding-left: 5px;
                .nav-link{
                    .rounded{
                        width:60px;
                        height:60px;

                        img{
                            width:30px;
                            height:30px;
                        }
                    }
                }
                    
                &.active:after {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 25px solid transparent;
                    border-right: 25px solid transparent;
                    border-bottom: 25px solid @navOrange;
                    position: relative;
                    bottom: -42px;
                    right: -24px;
                }
            }
        }
    }
    .footer{
        width:90%;
    }
}

@media screen and (max-width:480px){
    .main-nav {
        width: auto;
    }
    
    .container{
        width: 95%;
        margin: auto;
    }
    .header {
        height: 75px;
        margin: auto;
        
        .logo {
            display: block;
            
            float: none;
            
            .ptlogo {
                position: static;
                display:block;
                
                
                padding: 0;
                padding-top: 10px;
                margin: auto;
            }
            
            .bus {
                display:none;
            }
        }
        
        .nav {
            position: fixed;
            bottom: 0;
            
            width: 100%;
            height: 45px;
            
            margin: 0;
            padding: 5px 0;
            
            background: url('../images/header_texture.png');
            
            z-index: 10000;
            
            .nav-item {
                width: 24%;
                min-width: 0;
                
                padding: 0;
                
                .nav-link .rounded {
                    width: 25px;
                    height: 25px;
                    
                    img {
                        width: 15px;
                        height: 15px;
                        
                        margin-top: 5px;
                    }
                }
                
                &.active a .rounded, a:hover .rounded {                    
                    border: 2px solid @navBlue;
                    .box-shadow(0 0 5px 0 rgba(255, 255, 255, 0.75));
                }
                
                .nav-link p {
                    margin-top: 3px;
                    font-size: 55%;
                }
                
                &.active:after {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #FF5C25;
                    border-bottom: none;
                    position: relative;
                    bottom: 56px;
                    right: -32px;
                }
            }
        }
    }
    
    .secondary-nav{
        position: fixed;
        bottom: 55px;
        
        width:100%;
        height: 25px;
        
        font-size: 60%;
        
        z-index: 10000;
        
        ul.three li {
            width: 32%;
        }
        
        li a {
            padding: 5px 0 0 0;
        }
    }
    
    .copy{
        display:none;
    }
    .footer{
        height:200px;
        width:100%;
        border:0;
        padding: 0;
        margin:0;
    }

}

@import "schedule.less";
@import "zones.less";
@import "special.less";
@import "changes.less";
@import "bikes.less";
@import "buy.less";
@import "detours.less";
