@import "mixins.less";

// Color variables
@PbghGray:      #212121;

body {
    background: @grayLight;
}

.container-fluid {
    padding-left: 0.5em;
    padding-right: 0.5em;
    
    &.title-bar h1 {
        text-align: center;
        font-size: 30px;
    }
}

.navbar-inner {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.main-container {
    ul {
        margin-left: 0;

        li {
            display: block;
            -webkit-transform: translate3d(0, 0, 0);

            margin: 0.5em 0;
            padding: 1em;

            .border-radius(5px);
            .box-sizing(border-box);
            .box-shadow(2px 2px 2px rgba(0,0,0, 0.5));

            background: @PbghGray;

            list-style: none;

            a, a:hover, a:visited {
                display: block; 
                position: relative;          
                .user-select(none);

                text-decoration: none;
                color: @grayLighter;
            }
        }
        
        li.compact {
            .clearfix();
            padding: 0.5em 1em;
            color: @grayLighter;
        }
    }
/*


    div.navbar-info-left {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        float: left;
    }

    div.navbar-info-right {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        float: right;
    }*/
}

@import "login-page.less";
@import "route-page.less";
@import "schedule-page.less";
@import "favorite-page.less";
@import "direction-page.less";
@import "stops-page.less";