@import "reset.less";
@import "mixins.less"; // Don't remove this

@navOrange: rgb(255, 92, 37);
@navBlue: #00AAB5;

body {
    font-family: ;
    font: 18px 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
	color:inherit;
}

h1, h2, h3, h4, h5, h6 {
	color: @navBlue;
}

h1 {
    font-size: 150%;
}

span {
	font-style:italic;
}

.container {
    width: 80%;
    margin-left: 15%;
}

// Header styles
.header {
	height: 210px;
    background: url('../images/header_texture.png');
	
	.logo {
	   display: inline-block;
	   height: 100%;
	   width: 400px;
	   
	   background: url('../images/bus_transparent.png') no-repeat left top;
	   
	   img {
	       padding: 40px;
	   }
    }
    
    .nav {
        float: right;
        
        padding-top: 40px;
        padding-right: 150px;
        
        .nav-item {
            display: inline-block;
            min-width: 100px;
            
            padding-left: 100px;
            
            .nav-link {
                .rounded {                    
                    width:76px;
                    height:76px;
                    
                    margin: 0 auto;
                    
                    .border-radius(40px);
                    border: 3px solid transparent;
                    
                    background: rgba(255, 255, 255, 0.1);
                    
                    text-align: center;
                    
                    img {
                        margin-top: 16px;
                    }
                }
            }
            
            &.active a .rounded, a:hover .rounded {                    
                background: rgba(255, 255, 255, 0.4);
                
                border: 3px solid @navBlue;
                .box-shadow(0 0 15px 0 rgba(255, 255, 255, 0.75));
                
                text-decoration:none;
            }
            
            &.active:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-bottom: 25px solid @navOrange;
                position: relative;
                bottom: -30px;
                right: -24px;
            }
            
            p {
                margin-top: 15px;
                
                color: @navBlue;
                text-align: center;
            }
        }
    }
}

.secondary-nav {
    height: 40px;
    
    background: @navOrange;
    
    ul {
        height: 100%;
        
        &.three li {
            width: 33%;
        }
    }
    
    li {
        display: inline-block;
        height: 100%;
        
        color: black;
        text-align: center;
        font-weight: bold;
        
        &.active {
            color: white;
        }
        
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            
            padding: 10px 0;
        }
    }
}

@media screen and (min-width: 768px) and (max-width:960px){
	.nav {
	    padding-right: 45px;
	    
	    .nav-item{
    	    padding-left: 30px;
    	}
	}
}

@media screen and (max-width: 767px){
	body{
		display:none;
	}
}