@()

@navbar = {
    <ul class="two">
        <li class="left"><a href="@controllers.routes.Application.index()">Schedule planner</a></li>
        <li class="right active"><a href="#">Trip planner</a></li>
    </ul>
}

@main("Trip planner", navbar, "transit") {
    <div class="container clearfix">
        <form class="form-horizontal" action="http://www.google.com/transit">
          <input type="hidden" name="ie" value="UTF8">
          <input type="hidden" name="f" value="d">
          <input type="hidden" name="ttype" value="arr">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Start:</label>
            <div class="controls">
              <input type="text" size="20" name="saddr" tabindex="1" maxlength="2048" placeholder="Origin">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Destination:</label>
            <div class="controls">
              <input type="text" name="daddr" value="" tabindex="2" maxlength="2048" placeholder="Destination">
            </div>
          </div>
          
          <input type="hidden" name="date" value="2/13">
          <input type="hidden" name="time" value="7:30pm">
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn">Get Directions</button>
            </div>
          </div>
        </form>
    </div>
}