@(routes: List[models.gtfs.Route])

@navbar = {}

@main("Nearby Routes", navbar, "routes") {
<div class="container-fluid route-page">
    <ul>
        @for(route <- routes) {
        <li class="route-item">
            <a href="@controllers.routes.Transit.directions(route.id)" class="clearfix">
                <div class="route-badge pull-left">
                    <span class="route-short-name">@route.short_name</span>
                </div>
                <div class="route-long-name"><span>@route.long_name</span></div>
                <div class="list-icon pull-right">
                    <i class="icon-chevron-right icon-white"></i>
                </div>
            </a>
        </li>
        }
    </ul>
</div>
}