@(routes: List[models.gtfs.Route])

@import models.gtfs.Trip;

@navbar = {
    <!-- The content of the orange sub-nav is defined here for each page -->
    <ul class="two">
        <li class="left active"><a href="#">Schedule planner</a></li>
        <li class="right"><a href="@controllers.routes.Application.planner()">Trip planner</a></li>
    </ul>
}

@main("Schedule planner", navbar, "transit") {
<!-- Syntax : main("page title", navbar, "transit|fares|info|service (active menu icon)") -->
<!-- Inside the "main" call the html of the page itself is defined -->
<div class="container clearfix schedule-page"> <!-- schedule-page = specific class to target this particular page in CSS -->
    <h1>Schedule planner</h1>
    
    <form id="route-search">
        <div class="input-append">
            <input type="text" name="search" value="" id="search" placeholder="Route name (Aiport Flyer) or number (28X)">
            <span class="add-on btn-inverse"><i class="icon-search icon-white"></i></span>
            <!-- <button class="btn btn-inverse" id="clear" type="button">Clear</button> -->
        </div>
    </form>
    <div id="quick-select">
        <button class="btn btn-large btn-inverse" id="all">All</button>
        <button class="btn btn-large btn-inverse" id="regular">Regular Routes</button>
        <button class="btn btn-large btn-inverse" id="flyer">Flyer</button>
        <button class="btn btn-large btn-inverse" id="special">T / Incline</button>
    </div>
    <div id="routes">
    @for(route <- routes) {
        <div class="route" data-route-name="@route.short_name" data-route-long-name="@route.long_name" data-route-id="@route.id">
            <p>@route.short_name</p>
            <p>@route.long_name</p>
            @if(route.directions.inbound()) {
            <script type="text/template" class="inbound">
                @for(stop <- route.inboundStops()) {
                <option value="@stop.id">@stop.name</option>
                }
            </script>
            }

            @if(route.directions.outbound()) {
            <script type="text/template" class="outbound">
                @for(stop <- route.outboundStops()) {
                <option value="@stop.id">@stop.name</option>
                }
            </script>
            }
        </div>
    }
    </div>
</div>

<script type="text/template" id="routes-form">
    <div class="route-form">
        <form class="clearfix" action="#" method="post" accept-charset="utf-8">
            <div id="direction">
                <label class="radio">
                    <input type="radio" name="direction" value="@Trip.INBOUND" />
                    <span><i class="icon-arrow-left"></i>Inbound</span>
                </label>
                <label class="radio">
                    <input type="radio" name="direction" value="@Trip.OUTBOUND" />
                    <span><i class="icon-arrow-right"></i>Outbound</span>
                </label>
            </div>
            <div id="stop-select">
                <select name="stop">
                    <option value="default">Select a direction</option>                
                </select>
            </div>
            <div id="go">
                <input type="submit" class="btn btn-large btn-info" value="Go" disabled="disabled">
            </div>
        </form>
    </div>
</script>
<script type="text/template" id="route-schedule">
    <div id="schedule">
    <table>
        <% _.forEach(times, function(values, time) { %> <tr><td><%= time %></td><td><% _.forEach(values, function(schedule) { %> <span><%= schedule %></span> <% }) %></td></tr><% }); %>
    </table>
    </div>
</script>
}