@(route: models.gtfs.Route, direction: Integer, stop: models.gtfs.Stop, times: TreeMap[Date, List[models.gtfs.StopTime]], isFavorite: Integer)

@navbar = {
    <a class="brand" href="#">
        @route.short_name 
        @if(route.short_name.length() + stop.name.length() > 26) { 
            @stop.name.substring(0, 22 - route.short_name.length()).trim()... 
        } else { 
            @stop.name
        }
    </a>
}

@main("Schedule", navbar, "none") {
<div class="container-fluid schedule-page">


        <div class="pull-right">
                <a href = "@controllers.routes.Transit.doFavorite(stop.id, route.id, direction, 1-isFavorite)">
                     @if(isFavorite == 1) {
                    <i class="icon-star"></i>
                    } else {
                    <i class="icon-star-empty"></i>
                    }
                </a>
        </div>


    <ul>
        @for( (day, index) <- times.keySet().toList.zipWithIndex) {
            @if(!times.get(day).isEmpty()) {

                @if(index == 0) {
                    <li class="separator"><h2>Today</h2></li>
                } else {
                    <li class="separator"><h2>@day.format("dd MMM yyyy")</h2></li>
                }

                @for( time <- times.get(day)) {
                    @if(index == 0) {
                        @if(!time.remaining().equals("departed")) {
                        <li class="compact">
                            <div class="pull-left">@time.departure.format("hh:mm a")</div>
                            <div class="pull-right">@time.remaining()</div> 
                        </li>  
                        }
                    } else {
                    <li class="compact">
                        <div class="pull-left">@time.departure.format("hh:mm a")</div>
                    </li>
                    }
                }
            }
        }
    </ul>

</div>

        }
