@(title: String, navbar: Html = Html(""), active: String = "")(content: Html)

@menubar(active: String) = {
    <ul class="nav clearfix">
		<li class="nav-item @if(active == "transit"){active}">
		    <a class="nav-link" href="fares.html">
		        <div class="rounded">
		            <img src="@routes.Assets.at("images/bus_icon.png")"/>
		        </div>
		        <p>Transit</p>
		    </a>
		</li>
		<li class="nav-item @if(active == "fares"){active}">
		    <a class="nav-link" href="fares.html">
		        <div class="rounded">
		            <img src="@routes.Assets.at("images/fares_icon.png")"/>
		        </div>
		        <p>Fares</p>
		    </a>
		</li>
		<li class="nav-item @if(active == "info"){active}">
		    <a class="nav-link" href="fares.html">
		        <div class="rounded">
		          <img src="@routes.Assets.at("images/info_icon.png")"/>
		        </div>
		        <p>Information</p>
		    </a>
		</li>
		<li class="nav-item @if(active == "service"){active}">
		    <a class="nav-link" href="fares.html">
		        <div class="rounded">
		          <img src="@routes.Assets.at("images/service_icon.png")"/>
		        </div>
		        <p>Rider Services</p>
		    </a>
		</li>
	</ul>
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Port Authority | @title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/vendor/bootstrap/bootstrap.min.css")" /> -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/vendor/modernizr.js")"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header">
            <a class="logo" href="@controllers.routes.Application.index()">
			    <img src="@routes.Assets.at("images/logo.png")" />
			</a>
            @menubar(active)
        </div>
        <div class="secondary-nav">
            @navbar
        </div>
        @content
        <div class="footer">
            
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="@routes.Assets.at("javascripts/vendor/jquery.js")"><\/script>')</script>
        <!--
        <script type="text/javascript"
                src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCUdw8K6aEZtUg0_3ZTe_55gyFG-LMij3s&sensor=false">
        </script>
        <script src="@routes.Assets.at("javascripts/vendor/bootstrap.min.js")"></script>
        -->
        <script src="@routes.Assets.at("javascripts/vendor/lodash.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/routes.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </body>
</html>