@navbar = {
    <!-- The content of the orange sub-nav is defined here for each page -->
    <ul class="two">
        <li class="active"><a href="@controllers.routes.Application.info()">Detours</a></li>
        <li><a href="#">Schedule Changes</a></li>
    </ul>
}

@main("Detours", navbar, "info") {
	<div class="container clearfix detours-page">
		<h1>Detours</h1>

		<h3>Detours in Effect 12/3/2012 - 12/5/2012</h3>
		<br>
		<p>Closeure of Beaver Avenue (Sewickley, Pennsylvania) from Ohio River Boulevard to Boundary/McKowan St.</p>
		<p class="datesRight">11/28/2012 to 12/23/2012</p><br>
		<span>14 Ohio Valley</span><br><br>

		<p>Event Detour - Kennywood Park Holiday Lights - Temporary Event Day Re-Opening of Kenny Bus Station</p>
		<p class="datesRight">11/24/2012 to 12/30/2012</p><br>
		<span>61C McKeesport-Homestead</span><br><br>

		<p>Nightly Fort Pitt Tunnel Insepctions - Inbound, Week 1 &amp; 2; Outbound Week 3 &amp; 4 -PennDOT</p>
		<p class="datesRight">11/4/2012 to 12/5/2012</p><br>
		<span>38 Green Tree</span><br><br>

		<p>Emergency Closeure of Noblestown Road from Weaver St. to Obey St. - Landslide</p>
		<p class="datesRight">11/4/2012 to No ending determined</p><br>
		<span>31 Brdigeville</span><br><br>

		<p>Closure of FanCourt Bridge (Small Slip Ramp Bridge) providing acess to Fort Pitt Bridge over Tenth st.</p>
		<p class="datesRight">9/27/2012 to 12/16/2012</p><br>
		<span>20 Kennedy 21 Coraopolis 22 McCoy 24 West Park 36 Banksville 38 Green Tree</span><br><br>

		<p>Closure of Halket St. from Magee-Woman's Hospital Driveway to Frobes Ave. - UPMC Magee-Woman's</p>
		<p class="datesRight">9/24/2012 to 12/30/2012</p><br>
		<span>58 Green Field</span><br><br>

		<p>Traffic Patter changes related to Pittsburgh Panthers and Steelers games -After Game Delays</p>
		<p class="datesRight">8/19/2012 to 12/30/2012</p><br>
		<span>26 Chartiers 27 Fairywood 31 Bridgeville</span><br><br>

		<p>Changes in mid and post-game traffic patterns around Heinz Field -Pittsburgh Steelers &amp; Pitt Panthers</p>
		<p class="datesRight">8/19/2012 to 12/30/2012</p><br>
		<span></span><br><br>

	</div>
}