@navbar = {
    <!-- The content of the orange sub-nav is defined here for each page -->
    <ul class="two">
        <li class="left active"><a href="@controllers.routes.Application.info()">Detours</a></li>
        <li class="right"><a href="@controllers.routes.Application.changes()">Schedule Changes</a></li>
    </ul>
}

@main("Detours", navbar, "info") {
	<div class="container clearfix detours-page">
		<h1>Detours</h1>

		<h3>Detours in Effect 12/3/2012 - 12/5/2012</h3>
		<br>
		<p>Closeure of Beaver Avenue (Sewickley, Pennsylvania) from Ohio River Boulevard to Boundary/McKowan St.</p>
		<p class="datesRight">-11/28/2012 to 12/23/2012</p><br>
		<span>14 Ohio Valley</span><br><br>

		<p>Event Detour - Kennywood Park Holiday Lights - Temporary Event Day Re-Opening of Kenny Bus Station</p>
		<p class="datesRight">-11/24/2012 to 12/30/2012</p><br>
		<span>61C McKeesport-Homestead</span><br><br>

		<p>Nightly Fort Pitt Tunnel Insepctions - Inbound, Week 1 &amp; 2; Outbound Week 3 &amp; 4 -PennDOT</p>
		<p class="datesRight">-11/4/2012 to 12/5/2012</p><br>
		<span>38 Green Tree</span><br><br>

		<p>Emergency Closeure of Noblestown Road from Weaver St. to Obey St. - Landslide</p>
		<p class="datesRight">-11/4/2012 to No ending determined</p><br>
		<span>31 Brdigeville</span><br><br>

		<p>Closure of FanCourt Bridge (Small Slip Ramp Bridge) providing acess to Fort Pitt Bridge over Tenth st.</p>
		<p class="datesRight">-9/27/2012 to 12/16/2012</p><br>
		<span>20 Kennedy</span><br><span>21 Coraopolis</span><br><span>22 McCoy</span><br><span>24 West Park</span><br><span>36 Banksville</span><br><span>38 Green Tree</span><br><br>

		<p>Closure of Halket St. from Magee-Woman's Hospital Driveway to Frobes Ave. - UPMC Magee-Woman's</p>
		<p class="datesRight">-9/24/2012 to 12/30/2012</p><br>
		<span>58 Green Field</span><br><br>

		<p>Traffic Patter changes related to Pittsburgh Panthers and Steelers games -After Game Delays</p>
		<p class="datesRight">-8/19/2012 to 12/30/2012</p><br>
		<span>26 Chartiers</span><br><span>27 Fairywood</span><br><span>31 Bridgeville</span><br><br>

		<p>Changes in mid and post-game traffic patterns around Heinz Field -Pittsburgh Steelers &amp; Pitt Panthers</p>
		<p class="datesRight">-8/19/2012 to 12/30/2012</p><br>
		<span>14 Ohio Valley</span><br><span>18 Manchester</span><br><br>

		<p>Trafford Bridge Closure, Demolition &amp; Replacement Between Pitcairn-Trafford Road &amp; Brinton Ave.</p>
		<p class="datesRight">-5/20/2012 to No ending determined</p><br><span>69 Trafford</span><br><span>P69 trafford Flyer</span>

		<p>Unannounced overnight closures of Wood Street Between Forbes &amp; Fifth Ave - The Tower at PNC Proj</p>
		<p class="datesRight">-5/10/2012 to No ending determined</p><br><span>39 Brookline</span><br><span>40 Mount Washington</span><br><span>41 Bower Hill</span><br><span>43 Bailey</span><br><span>44 Knoxville</span><br><span>48 Arlington</span><br><span>51 Carrick</span><br><span>Y46 Elizabeth Flyer</span><br><span>Y47 Curry Flyer</span><br><span>Y49 Flyer</span><br><br>

		<p>Long term temporary stop discontinuance of outbound bus stop on Highland Ave. off Baum Blvd.</p>
		<p class="datesRight">-4/12/2012 to 4/30/2013</p><br>
		<span>71B Highland Park</span><br><br>

		<p>Closure of Elmore Sqaure &amp; associated streets - Building demolition &amp; reconstruction</p>
		<p class="datesRight">-3/26/2012 to 9/30/2013</p><br>
		<span>81 Oak Hill</span><br><span>83 Webster</span><br><br>

		<p>Long term deviation of outbound buses from S. 26th St. -Encroachment of development Frencing on S</p>
		<p class="datesRight">-3/7/2012 to No ending determined</p><br>
		<span>48 Arlington</span><br><br>

		<p>Monongahela Incline bus replacement routings -Non-event status (maintenance, closures, etc.)</p>
		<p class="datesRight">-1/1/2012 to 12/31/2012</p><br>
		<span>MI Incline Shuttles (Non-event stauts)</span><br><br>

		<p>Monongahela Incline bus routings -Special event status</p>
		<p class="datesRight">-1/1/2012 to 12/31/2012</p><br>
		<span>MI Incline Shuttles (Special event stauts)</span><br><br>

		<p>Duquesne Incline bus replacement routings</p>
		<p class="datesRight">-1/1/2012 to 12/31/2012</p><br>
		<span>DQI Duquesne Incline Shuttles</span><br><span>INCL Monongahela &amp; Duquesne Incline Connectors</span><br><span>INCU Monongahela &amp; Duquesne Incline Connectors</span><br><br>

		<p>Standing Detour -Closure of I-279 N HOV lanes -Routine maintenance, emergencies, snow closures - P</p>
		<p class="datesRight">-1/1/2012 to 12/33/2012</p><br>
		<span>NTC New Castle-Pittsburgh Commuter</span><br><span>O1 Ross Flyer</span><br><span>O12 McKnight Flyer</span><br><span>O5 Thompson Run Flyer</span><br><br>

		<p>Standing Detours -Emergency closure of Wabash Tunnel HOV &amp; Detour Routing -Maintnance, power outages, etc.</p>
		<p class="datesRight">-1/1/2012 to 12/31/2012</p><br>
		<span>FACT LeMont Furnance - Pittsburgh Commuter</span><br><br>

		<p>Standing Detour -Emergency closures of Washington Blvd. -Occasional extreme flooding occurrence</p>
		<p class="datesRight">-1/1/2012 to 12/31/2012</p><br>
		<span>P10 Allegheny Valley Flyer</span><br><span>P13 Mount Royal Flyer</span><br><br>

		<p>Continued intersection restrictions at California &amp; Marshall Ave. interchanges -SR 65 overpass R</p>
		<p class="datesRight">-1/1/2012 to No ending determined</p><br>
		<span>13 Bellvue</span><br><span>14 Ohio Valley</span><br><span>17 Shadeland</span><br><span>19L Emsworth Limited</span><br><br>


	</div>
}